    <div id="main">
      <form action="auth/login" method="post">
        <label>Username:</label><input type="text" name="user" />
        <br />
        <label>Password:</label><input type="password" name="pass" />
        <br />
        <input type="submit" value="Login" />
      </form>
    </div>